.productCard {
  max-width: 50rem;
  margin: 0 auto 10rem;

  .hero {
    display: block;
    width: 100%;
    margin: 1rem auto;
  }

  img {
    display: block;
    width: 100%;
    margin: 0;
  }

  .productDetails {
    ul,
    ul li {
      margin: 0;
      padding: 0;
    }

    ul li {
      list-style-type: none;
      margin: 0 auto 1rem;

      h1 {
        margin: 0;
      }
    }
  }
  .addToCart {
    // margin-top: 10px;
    max-width: 20rem;
  }
}
